@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Resets */
:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #020617; /* Deep Space Black */
  color: white;
}

body {
  margin: 0;
  overflow: hidden; /* Prevents scrollbars on the main window */
}

/* Custom Scrollbar for side panels */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
