@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load Fonts Globally */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  --bg-deep: #020617;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--bg-deep);
  color: white;
}

body {
  margin: 0;
  overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
