/* Import Carbon Design System (Dark Theme g100) */
@import "https://1.www.s81c.com/common/carbon/web-components/version/v1.21.0/themes/g100.css";

body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  background-color: #161616; /* Carbon Gray 100 */
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Carbon Overrides for Full Screen Layout */
.cds--header {
  position: static;
}

.cds--content {
  height: calc(100vh - 48px);
  padding: 0;
  overflow: hidden;
}

/* React Flow Dark Mode Fixes */
.react-flow__node {
  border: none;
}
.react-flow__controls {
  box-shadow: none;
  border: 1px solid #393939;
}
.react-flow__controls-button {
  background: #262626;
  border-bottom: 1px solid #393939;
  fill: white;
}
